gunicorn==19.3.0
invoke==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
negotiator==1.0.0
peewee==2.6.2
psycopg2==2.6.1
Pygments==2.0.2
pygments-markdown-lexer==0.1.0.dev0
requests==2.7.0
rivr==0.6.0
rivr-jinja==0.2.0
rivr-peewee==0.2.0
-e git+https://github.com/rivrproject/rivr-rest@7360d90a7ed15a6be63596540a33b8837161752c#egg=rivr_rest-master
rivr-rest-peewee==0.2.0
simplejson==3.7.3
six==1.9.0
uritemplate==0.6
