<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% block extra_head %}{% endblock %}
    <title>Bluepaste</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/syntax.css">
    <script>
      document.onreadystatechange = function () {
        if (document.readyState == "complete") {
          var currentUser = {% if request.browserid %}'{{ request.browserid }}'{% else %}null{% endif %};

          navigator.id.watch({
            loggedInUser: currentUser,
            onlogin: function(assertion) {
              var $e = $('#id_assertion');
              $e.val(assertion.toString());
              $e.parent().submit();
            },
            onlogout: function() {
              alert("Logout");
            }
          });

          var signinLink = document.getElementById('signin');
          if (signinLink) {
            signinLink.onclick = function() { navigator.id.request(); };
          }
        }
      }
    </script>
  </head>

  <body>
    <header class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Bluepaste</a>
          <ul class="nav navbar-nav">
            <li><a href="/">New Blueprint</a></li>
            {% block extra_nav %}{% endblock %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="https://apiblueprint.org/">API Blueprint</a></li>
                <li><a href="https://apiary.io/blueprint">API Blueprint Tutorial</a></li>
                <li><a href="https://github.com/apiaryio/api-blueprint/blob/master/API%20Blueprint%20Specification.md">API Blueprint Specification</a></li>
                <li><a href="https://github.com/kylef/bluepaste">Bluepaste GitHub</a></li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="navbar-header navbar-right">
          {% if request.browserid %}
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img class="avatar" src="{{ request.browserid|gravatar }}" alt="User" width=24 height=24 /><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ request.browserid_middleware.logout_url }}">Sign out</a></li>
                </ul>
              </li>
            </ul>
          {% else %}
            <button type="button" id="signin" class="btn btn-primary navbar-btn">Sign in / Sign up</button>
          {% endif %}
        </div>
      </div>
    </header>

    <div class="container-fluid">
      {% block body %}{% endblock %}
    </div>

    <form action="{{ request.browserid_middleware.login_url }}" method="POST">
      <input type="hidden" name="assertion" id="id_assertion">
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="https://login.persona.org/include.js"></script>
  </body>
</html>

