{% extends "base.html" %}

{% block body %}
  {% set ast = revision.ast %}

  <h1>{{ ast.name }}</h1>
  <p>{{ ast.description }}</p>

  {% for resourceGroup in ast.resourceGroups %}
    <h2>{{ resourceGroup.name }}</h2>
    <p>{{ resourceGroup.description }}</p>

    {% for resource in resourceGroup.resources %}
      <h3>{{ resource.name }}</h3>
      <p>{{ resource.description }}</p>

      {% for action in resource.actions %}
        <h4>{{ action.name }}</h4>
        <p>{{ action.description }}</p>
      {% endfor %}
    {% endfor %}
  {% endfor %}

  <hr />

  {{ revision.highlighted_content }}
{% endblock %}

