{% extends "base.html" %}

{% block body %}
  {% set ast = revision.ast %}

  <h2>{{ ast.name }}</h2>
  <p>{{ ast.description }}</p>

  {% for resourceGroup in ast.resourceGroups %}
    <h3>{{ resourceGroup.name }}</h3>
    <p>{{ resourceGroup.description }}</p>

    {% for resource in resourceGroup.resources %}
      <h4>{{ resource.name }}</h4>
      <p>{{ resource.description }}</p>

      {% for action in resource.actions %}
        <h5>{{ action.name }}</h5>
        <p>{{ action.description }}</p>
      {% endfor %}
    {% endfor %}
  {% endfor %}

  <hr />

  {{ revision.highlighted_content }}
{% endblock %}

